<nav class="navbar navbar-expand-lg">
  <a class=" navbar-brand" href="/stories/create"><img class="nav-logo" src="/images/logo-turquesa.svg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <img class="my-nav-btn" src="/images/hamb-turquesa.svg" alt="">
  </button>
  <div class="my-nav collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="my-ul-nav navbar-nav">
      <li class="nav-item active">
        <a class="my-nav-a nav-link" href="/stories">Stories <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class=" my-nav-a nav-link" href="/stories/setup">Create</a>
      </li>
      <li class="nav-item">
        <a class=" my-nav-a nav-link" href="/stories/create-dice">Create Dice</a>
      </li>
      <li class="sub-menu nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img class="my-drop-img" src="{{user.avatar}}" alt="">
        </a>
        <div class="my-drop-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="my-nav-a dropdown-item" href="/users/{{user._id}}">View my Profile</a>
          <a class="my-nav-a dropdown-item" href="/users/update">Update my profile</a>
          <a class="my-nav-a dropdown-item" href="/auth/logout">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>