{{>navbar}}
<section class="login-container">
  <img class="update-img-one img-one" src="/images/circ-mas-rallitas-dos.svg" alt=""> 
  <form class="login-form" action="/auth/change-password" method="POST">
    <h2>CHANGE PASSWORD</h2>
    <div class="inp-lab-change inp-lab">
      <label for="password">Current password</label>
      <input id="password" type="password" name="password" autocomplete="password">
    </div>
    <div class="inp-lab-change inp-lab">
      <label for="newPassword">New password</label>
      <input id="newPassword" type="password" name="newPassword" autocomplete="password">
    </div>
    <div class="inp-lab-change inp-lab">
      <label for="confirmPassword">Confirm new password</label>
      <input id="confirmPassword" type="password" name="confirmPassword" autocomplete="password">
    </div>

    <div class="btn-form-container">
      <img class="img-three" src="/images/flecha-dos.svg" alt="">
      <button class="update-btn" type="submit">Change Password</button>
      <img class="img-two" src="/images/flecha-uno.svg" alt="">
    </div>
 
  </form>
  <p>{{error}}</p>
  <div>
      <img src="/images/ranbow.svg" alt="">
  </div>
</section>