<h1>CHANGE PASSWORD</h1>
<form action="/auth/change-password" method="POST">
  <input id="password" type="password" name="password" autocomplete="password">
  <label for="password">Current password</label>
  <br/>
  <input id="newPassword" type="password" name="newPassword" autocomplete="password">
  <label for="newPassword">New password</label>
  <br />
  <input id="confirmPassword" type="password" name="confirmPassword" autocomplete="password">
  <label for="confirmPassword">Confirm new password</label>
  <input type="submit" value="Change Password">
</form>
<p>{{error}}</p>
<a href="/">Back...</a>