{{>header}}

<div class="welcome-container-two">
  <ul class="welcom-container">
    <li><a href="/users/login">Log In</a></li>
    <li><a href="/users/signup">Sign Up</a></li>
  </ul>
  <div >
      <img src="/images/ranbow.svg" alt="">
  </div>
</div>
