{{>navbar}}
<section class="login-container">

    <form class="login-form" action="/stories/create-dice" method="POST" enctype="multipart/form-data">
        <h2 class="setup-h2"> Create your dice </h2>
        <div class="inp-lab-container create-lab-container setup-lab-container">
            <div class="inp-lab">
                <label class="dice-label" for="name">Dice name:</label>
                <input type="text" name="name" placeholder="Dice name">
            </div>

            <h2 class="setup-h2">Upload images for the diferent sides os the dice</h2>

            <div class="inp-lab">
                <label class="dice-label" for="side1">Pick 6 sides</label>
                <input multiple type="file" name="sides" id="side1" autocomplete="photo">
            </div>
        </div>
        <div class="btn-form-container">
            <img class="img-three" src="/images/flecha-dos.svg" alt="">
            <button class="form-btn" type="submit">Create!</button>
            <img class="img-two" src="/images/flecha-uno.svg" alt="">
        </div>
    </form>
    <p>{{error}}</p>
</section>