<h1>CREATE STORY</h1>
<form action="/stories/create" method="POST">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" placeholder="Story title">
  <br/>
  <label for="content">Story</label>
  <br/>
  <textarea name="content" id="content" style="width:300px;height:200px;" placeholder="Your story goes here..."></textarea>
  <br/>
  <label for="reserved">Private?</label>
  <br/>
  <input type="radio" name="reserved" id="reserved" value="true">Yes<br/>
  <input type="radio" name="reserved" value="false">No<br />
  <label for="reserved">Adults only?</label>
  <br />
  <input type="radio" name="restricted" id="restricted" value="true">Yes<br />
  <input type="radio" name="restricted" value="false">No<br />
  <input type="submit" value="Submit">
</form>

<p>{{error}}</p>