{{>navbar}}
<header class="stories-header">
  <h1>A WORLD OF STORIES</h1>
  <div>
    <a href="/stories/setup">Create a new story</a>
    <form action="/stories/search" method="POST">
      <input class="search" type="search" name="terms" placeholder="Search...">
    </form>
  </div>

</header>

<section class="user-stories-container">
  {{#each stories}}
  {{>story}}
  {{/each}}
</section>

<button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/images/flecha-arriba.svg" alt="arrow"></button>
<p>{{error}}</p>