{{>navbar}}

<h1>A WORLD OF STORIES</h1>

<a href="/stories/create">Create a new story</a>
<form action="/stories/search" method="POST">
  <input type="text" name="terms">
  <input type="submit" value="Search">
</form>

{{#each stories}}
{{>story}}
{{/each}}
<p>{{error}}</p>