/*
coral: (252,76,98)
gris: 51,51,51)
azul oscuro: (70,66,139)
amarillo: (255,255,136)
turquesa: (2,200,167)
*/
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  background-color: rgb(70,66,139);
  box-sizing: border-box;
}
body{
  font-family: Helvetica, sans-serif;
  font-size: 10px;
}
button{
  border: none;
  font-family: 'Baloo Bhai';
  font-size: 2.5rem;
  color: #fff;
}
label{
  font-family: 'Baloo Bhai';
  font-size: 1.5rem;
  color: #fff;
}
input, textarea{
  font-family: Helvetica, sans-serif;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 5px;
  color: rgba(51, 51, 51, 0.6)
}
input:active, input:focus {
  border: 3px solid rgb(255,255,136);
}
h2{
  font-family: 'Baloo Bhai';
  color: rgb(2,200,167);
}
a{
  font-family: 'Baloo Bhai';
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}
ul{
  display: flex;
  list-style: none;
}

.logo{
  width: 60vw;
}
a:hover, a:focus{
  color: rgb(252,76,98);
  cursor: pointer;
  text-decoration: none;
}
/*NAVBAR*/
.my-nav-btn{
   height: 50px;
}
.nav-logo{
    height: 30px;
}
.my-ul-nav{
    text-align: right;
    margin-right: 15px;
}
.sub-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.my-drop-menu{
    background-color: rgb(70,66,139);
    border-color: #fff;
    text-align: right;
    width: max-content;
}
.my-nav-a{
    color: #fff;
    font-size: 1.1rem;
}
.my-drop-img{
    height: 30px;;
}

/*FORM HEADER*/
.for-header-container{
    display: flex;
    flex-direction: column;
  }
  .for-header-container>div{
    display: flex;
    padding: 15px 15px 0;
  }
  .for-header-container:first-child{
    justify-content: end;
  }
  .header-one{
    justify-content: flex-start;
  }
  .header-one>img{
    height: 55px;
    margin-left:80px;
  }
  .header-two{
    height: 150px;
    flex-direction: column;
    align-items: center;
  }
  .header-two>figure>img{
    height:75px;
  }
  .header-two-img{
    align-self: flex-start;
  }
  .header-log{
    align-self: center;
  }