/*
coral: (252,76,98)
gris: 51,51,51)
azul oscuro: (70,66,139)
amarillo: (255,255,136)
turquesa: (2,200,167)
*/

/*LANDING*/
.landing-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-img{
  height: 100vh;
}
.landing{
  height: max-content;
}
/*WELCOME*/
.welcom-container{
  margin-top:50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.welcom-container>li>a{
  font-size: 3rem;
}
.welcome-container-two{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.welcome-container-two>div>img{
  margin-top: 200x;
  padding-top: 52%;
}

/*LOGIN-FORM*/
.login-container{
  display: flex;
  flex-direction: column;
}
.login-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto 25px;
}
.inp-lab-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center
}
.inp-lab{
display: flex;
flex-direction: column;
margin: 10px 40px 0;
max-width: 400px;
width: 100%;
}

.img-one{
  align-self: flex-end;
  transform: rotate(-90deg);
  width: 80px;  
}
.login-container>div{
  align-self: flex-end;
}
.login-container>div>img{
  height: 80px;
}
.signup-text{
  font-family: 'Baloo Bhai';
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.signup-text>p>a{
  color: rgb(252,76,98)
}
/*btn form*/
.btn-form-container{
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}
.img-two{
  transform: rotate(240deg);
  width: 75px;
  align-self: flex-end;
  margin-right: 20px;
}
.img-three{
  transform: rotate(180deg);
  width: 50px;
  margin-left: 10px;
}
.form-btn{
  background: url(../images/btn-rojo.svg) no-repeat center center /cover;
  height: 130px;
  background-size: auto;
}

/*SIGN UP AND LOGIN*/

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile:focus + label,
.inputfile + label:hover {
    color: rgb(252,76,98);
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

/*PROFILE VIEW*/
.users-view{
  color: #fff;
  font-size: 1.2rem;
}
.profile-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-1{
  align-self: flex-start;
 
}
.img-1>img{
  height: 100px;
}
.img-2{
  align-self: flex-end;
  margin-right: 25px;
  margin-top: -60px;
}
.img-2>img{
  height:65px;  
}
.profile-header>div>p{
  font-family: 'Baloo Bhai';
  font-size: 3rem;
  text-align: center;
  justify-self: center;
  color: rgb(2,200,167);
}
.prof_avatar{
  border-radius: 50%;
  border: 3px solid rgb(2,200,167);
  height: 300px;
  margin-top: -35px;
}
/*PROFILE INFO*/
.profile-info{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.profile-info>ul{
  display: flex;
  flex-direction: column;
  margin-top: -75px;
}
.profile-info>ul>li{
  margin: 10px 0;
}
.profile-info>ul>li>span{
  font-family: 'Baloo Bhai';
  color: rgb(2,200,167);
}
.img-3{
  align-self: flex-end;
  margin-right: 35px;
  margin-top: 30px;  
  z-index: 1;
}
.img-3>img{
  height:75px;  
}
.img-4{
  align-self: flex-start;
 transform: rotate(90deg);
}
.img-4>img{
  height:65px;  
}
.update{
  font-size: 2rem; 
  z-index: 1;
  margin-top: -50px;
}
.update:hover, .update:focus{
  color: rgb(252,76,98);
  cursor: pointer;
  text-decoration: none;
}
/*UPDATE*/
.ch-avatar-cont{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.ch-avatar-cont>img{
  border-radius: 50%;
  border: 3px solid rgb(2,200,167);
  height: 300px;
}
.ch-avatar-cont>div{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.update-a{
  margin-top: 10px;
  border: 2px solid rgb(252,76,98);
  padding: 5px;
  border-radius: 6px;
}