/*
coral: (252,76,98)
gris: 51,51,51)
azul oscuro: (70,66,139)
amarillo: (255,255,136)
turquesa: (2,200,167)
*/
/*GENERAL*/
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  background-color: rgb(70,66,139);
  box-sizing: border-box;
}
body{
  font-family: Helvetica, sans-serif;
  font-size: 10px;
}
button{
  border: none;
  font-family: 'Baloo Bhai';
  font-size: 2.5rem;
  color: #fff;
}
label{
  font-family: 'Baloo Bhai';
  font-size: 1.5rem;
  color: #fff;
}
input{
  border: none;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 5px;
  color: rgba(51, 51, 51, 0.6)
}
input:active, input:focus {
  border: 3px solid rgb(255,255,136);
}

a{
  font-family: 'Baloo Bhai';
  color: #fff;
  text-decoration: none;
}
ul{
  display: flex;
  list-style: none;
}
.logo{
  width: 60vw;
}

/*LANDING*/
.landing-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-img{
  height: 100vh;
}
.landing{
  height: max-content;
}
/*WELCOME*/
.welcom-container{
  margin-top:50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.welcom-container>li>a{
  font-size: 3rem;
}
.welcome-container-two{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.welcome-container-two>div>img{
  margin-top: 200x;
  padding-top: 52%;
}

/*FORM HEADER*/
.for-header-container{
  display: flex;
  flex-direction: column;
}
.for-header-container>div{
  display: flex;
  padding: 15px 15px 0;
}
.for-header-container:first-child{
  justify-content: end;
}
.header-one{
  justify-content: flex-start;
}
.header-one>img{
  height: 55px;
  margin-left:80px;
}
.header-two{
  height: 150px;
  flex-direction: column;
  align-items: center;
}
.header-two>figure>img{
  height:75px;
}
.header-two-img{
  align-self: flex-start;
}
.header-log{
  align-self: center;
}

/*LOGIN-FORM*/
.login-container{
  display: flex;
  flex-direction: column;
}
.login-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto 25px;
}
.inp-lab-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center
}
.inp-lab{
display: flex;
flex-direction: column;
margin: 10px 40px 0;
max-width: 400px;
width: 100%;
}

.img-one{
  align-self: flex-end;
  transform: rotate(-90deg);
  width: 80px;  
}
.login-container>div{
  align-self: flex-end;
}
.login-container>div>img{
  height: 80px;
}
.signup-text{
  font-family: 'Baloo Bhai';
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.signup-text>p>a{
  color: rgb(252,76,98)
}
/*btn form*/
.btn-form-container{
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}
.img-two{
  transform: rotate(240deg);
  width: 75px;
  align-self: flex-end;
  margin-right: 20px;
}
.img-three{
  transform: rotate(180deg);
  width: 50px;
  margin-left: 10px;
}
.form-btn{
  background: url(../images/btn-rojo.svg) no-repeat center center /cover;
  height: 130px;
  background-size: auto;
}

/*SIGN UP*/

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile:focus + label,
.inputfile + label:hover {
    color: rgb(252,76,98);
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}